.header__button {
  background-color: unset;
  background-size: cover;
  cursor: pointer;
  visibility: hidden;

  align-self: center;

  border: unset;

  width: 50px;
  height: 50px;

  margin: 0;
  padding: 0;


  animation: pulsing 6s infinite;
}

@media screen and (min-width: 1024px){
.header__button{
  visibility: visible;
  margin-top: 40px;
  margin-bottom: 40px;
}
}

@keyframes pulsing {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}
